.body {

    background-color: rgb(228, 222, 196);

}

.title {

    font-family: 'Courier New', Courier, monospace;
    color: rgb(78, 56, 30);
    text-align: center;
    margin: 20px;
    
}

img {

    outline-style: double;
    outline-width: 10px;
}

h2 {

    font-family :'Courier New', Courier, monospace;
    text-align: center;
    color:rgb(78, 56, 30);
}
h3 {

    font-family :'Courier New', Courier, monospace;
    text-align: center;
    color: rgb(83, 83, 83);
}

li {

    margin-left: 300px;

}