.body {

    background-color: rgb(228, 222, 196);
    
}

#title {

    font-family: Courier, Helvetica, sans-serif;
    color: rgb(78, 56, 30);
    text-align: center;
    
}

#title2 {

    font-family: Courier, 'Geneva', Tahoma, sans-serif;
    color: rgb(83, 83, 83);
    text-align: center;

}

.pizza {

    margin-left: 340px;
    outline-style: double;
    outline-width: 10px;
    outline-color: rgb(78, 56, 30);
    
}

.list {

    margin-left: 315px;
}